@model school_Management.database.Students

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getstudent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        *{
            text-align:center;
        }
    </style>
</head>
<body>
    @{ 
        string curl = Url.Action("getClass") + "?id=" + Model.classroom.Id;
        string turl = Url.Action("getTeacher") + "?id=" + Model.teacher.Id;
        string surl = Url.Action("getStudents") + "?id=" + Model.Id;
    }
    
    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>کلاس</th>
                    <th>معلم</th>
                    <th>هم کلاسی ها</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@surl">@Model.Name</a> </td>
                    <td><a href="@curl">@Model.classroom.Name</a></td>
                    <td><a href="@turl">@Model.teacher.Name</a></td>
                    <td><a href="@curl">هم کلاسی ها</a></td>
                </tr>
            </tbody>
        </table>
     </div>
</body>
</html>
